<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties>
        <property name="dialect" value="mysql" />
    </properties>

    <!-- -->
    <!-- <typeHandlers>
        <typeHandler handler="com.netease.recruit.util.MyBlobInputStreamTypeHandler"
            javaType="java.io.InputStream" jdbcType="BLOB" />
    </typeHandlers> -->

    <!-- -->
    <!--  -->

    <plugins>
        <plugin interceptor="com.lpzipo.dao.intercept.PageInterceptor"></plugin>
    </plugins>

</configuration>